:root {
  --blue: #4660cb;
  --bg-primary-light: #f6f5f8;
  --bg-primary-dark: #1e1c28;
  --bg-card-light: #fff;
  --bg-card-dark: #262538;
  --light-blue: #768ae1;
  --text-primary-dark: #42455d;
  --text-primary-light: #e7e7f7;
  --text-gray: #686868;
  --text-light-gray: #bdbdbd;
}

html[data-theme='light'] {
  --bg-primary: var(--bg-primary-light);
  --text-primary: var(--text-primary-dark);
  --bg-card-primary: var(--bg-card-light);

  body {
    color: var(--text-primary);
    background-color: var(--bg-primary);
  }
}

html[data-theme='dark'] {
  --bg-primary: var(--bg-primary-dark);
  --text-primary: var(--text-primary-light);
  --bg-card-primary: var(--bg-card-dark);

  body {
    color: var(--text-primary);
    background-color: var(--bg-primary);
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
